.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  align-items: center;
  justify-content: center;

  display: none;
  align-items: center;
}

.modal__input {
  width: 100%;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.modal__input:not(:last-of-type) {
  margin: 0 0 30px;
}

.modal_opened {
  display: flex;
}

.modal__title {
  padding-right: 64px;
  margin: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__container {
  position: relative;
  background-color: #fff;
  color: black;
  padding: 34px 36px;
  border-radius: 10px;
  min-width: 430px;
  min-height: 323px;
  box-sizing: border-box;
}

.modal__close {
  background: url(../images/close-icon.svg) no-repeat transparent center;
  border: 0px;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  transition: opacity 0.2s ease-in-out;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__form {
  margin-top: 54px;
  width: 358px;
}

.modal__button {
  color: white;
  margin: 0;
  margin-top: 48px;
  width: 100%;
  height: 50px;
  background-color: black;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 568px) {
  .modal__container {
    font-size: 14px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin: 120px auto;
    max-width: 282px;
    max-height: 322px;
    height: inherit;
    box-sizing: border-box;
  }
  .modal__close {
    right: 0;
    top: -45px;
  }
  .modal__button {
    margin-top: 45px;
    font-size: 14px;
    line-height: 16.94px;
  }
  .modal__form {
    font-size: 14px;
    line-height: 17px;
  }
}
