.modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.modal_opened {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 195px;
}

.modal__container {
  position: relative;
  max-width: 430px;
  max-height: 330px;
}

.modal__close {
  background: url(../images/close-icon.svg) no-repeat transparent center;
  width: 40px;
  height: 40px;
  border: 0;
  position: absolute;
  top: -45px;
  right: -45px;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__title {
  padding: 0;
  margin: 0 0 40px 0;

  color: #000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  box-sizing: border-box;
  padding: 36px;

  background: #ffffff;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
}


.modal__input {
  min-width: 358px;
  min-height: 35px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 0;
  margin: 0 0 20px;
}

.modal__input:not(:last-of-type) {
  margin: 0 0 30px;
}

.modal__button {
  min-width: 117px;
  min-height: 50px;
  background: #000;
  border-radius: 2px;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  border: none;
  margin-top: 48px;
  padding: 13px 149px;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.5;
}



@media screen and (max-width: 520px) {

  .modal_opened {
    padding-top: 123px;
  }
  
  .modal__container {
    position: relative;
    max-width: 282px;
    max-height: 322px;
    padding: 0 19px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -45px;
    right: 20px;
  }

  .modal__form {
    padding: 25px 22px;
  }

  .modal__title {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__input {
    min-width: 236px;
    min-height: 35px;
    padding: 0;
    margin: 0 0 30px;
  }

  .modal__button {
    min-width: 236px;
    margin-top: 48px;
    padding: 0;
    font-size: 14px;
  line-height: 16px;
  }
}
